# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
venv/
.venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# React Native
mobile/node_modules/
mobile/.expo/
mobile/ios/Pods/
mobile/android/.gradle/
mobile/android/app/build/
mobile/*.hprof

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
